[phases.setup]
nixPkgs = ["openjdk21"]

[phases.build]
cmds = [
    "chmod +x gradlew",
    "./gradlew clean bootJar -x test --no-daemon"
]

[start]
cmd = "java -Dserver.port=$PORT $JAVA_OPTS -jar build/libs/gym_management-0.0.1-SNAPSHOT.jar"